<html ng-app="App">

<head>
    <meta charset="utf-8">
    <title>Intslacion de angular sj</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <style>
        .alerta {
            border: 5px solid #000000;
            text-align: center;
            margin: auto;
        }
    </style>
</head>

<body>
    <div ng-controller="controlador1">
        <div class="alerta" ng-show="visibilidadMensaje">
            este es un mensaje secreto
        </div>
        <button ng-click="mostrar()">Mostrar</button>
        <button ng-click="ocultar()">Ocultar</button>
    </div>

    <script>
        var miApp = angular.module("App", [])

        miApp.controller("controlador1", ["$scope", function ($scope) {

            $scope.visibilidadMensaje = false;

            $scope.mostrar = function () {

                $scope.visibilidadMensaje = true;
            }

            $scope.ocultar = function () {

                $scope.visibilidadMensaje = false;
            }

    }])
    </script>
</body>

</html>