<html ng-app="App">

<head>
    <meta charset="utf-8">
    <title>Intslacion de angular sj</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
    <div ng-controller="controlador1">
        <h1>Agenda telefónica</h1>
        
        <label>Buscar</label>
        <input type="search" ng-model="busqueda">
        
        <p ng-repeat=" entrada in agenda | filter: busqueda ">
            <table>
                <tr>
                    <td>{{ entrada.name }}</td>
                    <td>{{ entrada.phone }}</td>
                    <td>{{ entrada.email }}</td>
                    <td>{{ entrada.address }}</td>
                </tr>
            </table>
        </p>
    </div>

    <script>
        var miApp = angular.module("App", [])

        miApp.controller("controlador1", ["$scope", function ($scope) {

            $scope.agenda = [
                {
                    "name": "Molina Gutierrez",
                    "email": "molinagutierrez@dogspa.com",
                    "phone": "+1 (977) 553-3596",
                    "address": "774 Louis Place, Thomasville, North Carolina, 6397"
  },
                {
                    "name": "Glass Stone",
                    "email": "glassstone@dogspa.com",
                    "phone": "+1 (949) 429-3504",
                    "address": "599 Coles Street, Woodburn, New Mexico, 6495"
  },
                {
                    "name": "Torres Pacheco",
                    "email": "torrespacheco@dogspa.com",
                    "phone": "+1 (808) 499-2901",
                    "address": "941 Richardson Street, Olney, Mississippi, 1646"
  },
                {
                    "name": "Elena Gallagher",
                    "email": "elenagallagher@dogspa.com",
                    "phone": "+1 (806) 562-2914",
                    "address": "322 Woodruff Avenue, Rivereno, Missouri, 9050"
  },
                {
                    "name": "Dixon Lowe",
                    "email": "dixonlowe@dogspa.com",
                    "phone": "+1 (944) 583-3867",
                    "address": "385 Powell Street, Tampico, Indiana, 2008"
  },
                {
                    "name": "Webster Burks",
                    "email": "websterburks@dogspa.com",
                    "phone": "+1 (814) 567-3497",
                    "address": "362 Irvington Place, Moscow, Florida, 3295"
  }
]

    }])
    </script>
</body>

</html>