<html ng-app="App">

<head>
    <meta charset="utf-8">
    <title>Intslacion de angular sj</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.14/angular-route.min.js"></script>
    <style>
        .alerta {
            border: 5px solid #000000;
            text-align: center;
            margin: auto;
        }
    </style>
</head>

<body>
    <div ng-controller="controlador1">
        <img ng-src="{{ imagenActual }}">
        <button ng-click="mostratImagen('http://lorempixel.com/400/200/animals')">imagen1</button>
        <button ng-click="mostratImagen('http://lorempixel.com/400/200/business')">imagen2</button>
    </div>
    
    <script>
        var miApp = angular.module("App", [])

        
    </script>
</body>

</html>